[submodule "contracts-v2"]
	path = contracts-v2
	url = https://github.com/ethereum-optimism/contracts-v2
[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/ds-token"]
	path = lib/ds-token
	url = https://github.com/dapphub/ds-token
